.row{
	width: 500px;
	height: 20px;
	margin-bottom: 1px;
	outline: 1px solid black;

}

.indiceWrapper{
	display:flex;
	/*outline: 1px solid red;*/

}
.indiceItem{
	/*outline: 1px solid blue;*/
	width: 142px;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
}

.rowwrapper{
	display:flex;
	flex-direction:column;
	width: 100px;
}

.lineNumber{
	width: 800px;
	height:20px;
	outline: 1px solid silver;
	margin: auto;
	margin-left: 1px;
	margin-top: 1px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
}
.numberHolder{
	outline: 1px solid red;
	width: 20px;
}

#dnaWrapper{
	width: 820px;
}

.unsaved{
	outline:1px solid steelblue;
}

.saved{
	outline:1px solid silver;

}

#dnaWrapper:focus{
	outline:1px solid blue;
	width:820px;
}

#singleEditor{
	text-transform:uppercase;
	letter-spacing: 0.5px;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
	width: 500px;
	height: 500px;	
	line-height:25px;
	border:none;
	resize: none;
	/*outline: 1px solid silver;*/
}



#saveButton{
  border: 1px solid silver;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 3px;

}

.unsavedButton{
	color:#4CAF50;
}

.savedButton{
	color:black;
}
#saveButton:focus{
	outline:none;
}

#saveButton:active {
	background-color: #4CAF50;;
    color: white;
}

.input{
	width:800px;
	text-transform:uppercase;
	outline: none;
	border: 0;
	word-spacing: 30px;
	letter-spacing: 0.5px;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;

}

.textSpace{
	word-spacing: 30px;
 
}


