.row{
	width: 500px;
	height: 20px;
	margin-bottom: 1px;
	outline: 1px solid black;

}

.rowwrapper{
	display:flex;
	flex-direction:column;
	width: 100px;
}

#dnaWrapper{
	outline:1px solid silver;
}

#dnaWrapper:focus{
	outline:1px solid blue;
}

.testInput{
	word-spacing: 20px;
}

.input{
	width:800px;
	text-transform:uppercase;
	/*outline: none;*/
	/*border: 0;*/
	word-spacing: 30px;

	letter-spacing: 0.5px;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;

}

.odd{
	 text-transform: uppercase;
	width: 600px;
	word-spacing: 30px;
	margin-bottom: 0px;
	white-space: nowrap;
	/*outline: 1px solid silver;*/
	outline: 1px solid silver;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
}

.even{
	text-transform: uppercase;
	width: 600px;
	word-spacing: 30px;
	margin-top:1px;
	white-space: nowrap;
	margin-bottom: 0px;
	outline: 1px solid silver;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
}


.textSpace{
	word-spacing: 30px;
 
}

.single{
	letter-spacing: 0.5px;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
	width: 500px;
	height: 500px;	
	line-height:25px;
}