<!DOCTYPE html>
<html>
    <head>

        <script src='javascript/lib/angular.1.6.9.min.js'></script>
        <script src='javascript/lib/angularplasmid.min.js'></script>
        <script src="javascript/lib/jquery.2.1.3.min.js" type="text/javascript"></script> 
        <script src="javascript/lib/d3.v3.min.js" type="text/javascript"></script>
        <script src="javascript/lib/FileSaver.js"></script>
        <script src="javascript/lib/axios.min.js"></script>


        <script src="javascript/service/plasmidService.js" type="text/javascript"></script>
        <script src="javascript/service/userService.js" type="text/javascript"></script>
        <script src="javascript/service/prototypeService.js" type="text/javascript"></script>

        <script src="javascript/blastAPI.js" type="text/javascript"></script>
        <script src="javascript/pscript.js" type="text/javascript"></script>
        <script src="javascript/editor.js" type="text/javascript"></script>
        <script src="javascript/plasmidGrab.js" type="text/javascript"></script>
        <script src="javascript/blastViewer.js" type="text/javascript"></script>
        <script src="javascript/navigator.js" type="text/javascript"></script>


        <link rel="stylesheet" href="style/pstyle.css">
        <link rel="stylesheet" href="style/ppage.css">
        <link rel="stylesheet" href="style/editor.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </head>
    <body ng-app="myApp">

        <div id="navbar">
            <div class="navItem">Home</div>
            <div class="navItem">About</div>
            <div class="navItem" id="navBoros" onclick="toBoros()">Boroi</div>
            <div class="navItem">Upload</div>
        </div>
        
        <div  ng-controller="myCtrl" id="divider" >
            <div id="display">

                <plasmid id='p1' sequencelength='{{seq.length}}'>
                    <plasmidtrack   radius="{{myRad}}"  id='t1' transform="translate(150,150)">

                        <!-- ticks -->
                        <trackscale  id="innerticks" class='smajor' interval='{{interval}}' showlabels='1' labelclass='sml'></trackscale>

                        <!-- user annotations       -->
                        <trackmarker  ng-repeat='n in annotations' class="highlight" ng-class="{'annHighlight': n.annotationSeq==annotationHighlight}"  start='{{n.start}}' end='{{n.end}}' ng-click="toggle('annotate'); setAnnotatePoints(n.start, n.end, n.name); focusAnnotation(n.start,n.end);" >
                           <!--  <markerlabel ng-click="testing($event)" text="{{n.name}}" vadjust="40" hadjust="0" valign="outer" class="lglabel black labelhover" showline="1" linevadjust="-10" linevadjust="-15" lineclass="labelline"></markerlabel> -->

                        </trackmarker>
                        
                        <!-- search results -->
                        <trackmarker   markerclass="markerhover" markerstyle="fill:rgba(128,0,0,0.2)" ng-repeat='n in searchResults' ng-dblclick="clearSearch();" start='{{n.start}}' end='{{n.end}}' vadjust="25"  ng-click="viewSearch(n.start,n.end) "></trackmarker>

                        <!-- ORFS -->
                        <trackmarker ng-repeat='n in orfsdata' markerclass="orfhover"  ng-click="viewORF(n[0],n[1]); toggle('orf');"  start="{{n[0]}}" end="{{n[1]}}"  vadjust="-20" wadjust="-23" arrowstartlength="0.8" arrowstartwidth="10" arrowendlength="5" arrowendwidth="3"></trackmarker>
                        
                        <!-- blast matches -->
                        <trackmarker markerclass="blastmarker"  start="{{blastStart}}" end="{{blastEnd}}"  vadjust="-5" wadjust="-23"  ng-click="toggle('viewer');" ng-dblclick="resetBlast();deactivateAllHsp();"></trackmarker>

                        <!-- drawing arc forward -->
                        <trackmarker markerclass="markerhover" ng-if="ed!=false && start<end" start="{{start}}" end="{{end}}" ng-click="toggle('viewer')" ng-dblclick="reset();" vadjust="25" markerstyle="fill:rgba(0,128,0,0.2)" wadjust=""></trackmarker>

                        <!-- drawing arc backward -->
                        <trackmarker markerclass="markerhover"  ng-click="toggle('viewer')" ng-dblclick="reset()" ng-if="ed!=false && start>end" start="{{end}}" end="{{start}}"  vadjust="25" markerstyle="fill:rgba(0,128,0,0.2)" wadjust=""></trackmarker>

                    <!-- TaqI TODO later - restrinction enzymes--> 
                    <trackmarker  ng-repeat="enz in matchedEnzymes" start="{{enz.index}}" end="{{enz.index}}" markerstyle='stroke:#000;fill:steelblue;' ng-show="enz.show==true||enz.peek==true">

                        <markerlabel text="{{enz.name}}" wadjust="50" vadjust="50" hadjust="0" valign="outer" class="mdlabel darkblue enzLabel" showline="1" linevadjust="-10" linevadjust="-15" lineclass="labelline"></markerlabel>
                        <!-- <markerlabel type="path" text="920-150" class="smlabel white" vadjust="4"></markerlabel> -->
                    </trackmarker>


                    </plasmidtrack>
                </plasmid>
                <div id="control">
                    <!-- control panel for dna editing -->
                    <div id="controlDNA" class="panel">
                        <div class="sideInfo">
                            <div>Name:<input ng-model="plasmidName"></input></div>
                            <p>Sequence Length:{{seq.length}}</p>
                            <p>ORF Minimum Length:<input type="number" id="orf" class="viewControl" ng-keydown="editOrfMinLength($event)" value={{minLength}}></p>
                            <p>Tick Interval:<input id="interval" class="viewControl" ng-keydown="editInterval($event)" type="number" value={{interval}}></p>
                            <input type="number" ng-model="start">
                            <input type="number" ng-model="end">
                        </div>

                    </div>
                </div>
            </div>
           
            <div id="editor" >
                
                    <div id="dna" class="item active" ng-click="toggle('dna')"><p>DNA</p></div>
                    <div id="viewer" class="item" ng-click="toggle('viewer')"><p>Viewer</p></div>
                    <div id="blast" class="item" ng-click="toggle('blast')"><p>Blast Align</p></div>
                    <div id="option" class="item" ng-click="toggle('option')"><p>Options</p></div>

                <div id="content">


                    <!-- content for dna editing -->
                     <div ng-show="selected=='viewer'||selected=='orf'||selected=='dna'||selected=='annotate'||selected=='search'" id="controlDNA" >
                    <!-- content for viewing annotations -->
                        <div ng-show="selected=='annotate'">
                            <input id="name" ng-click="editAnnotationName($event)" ng-keydown="submitAnnotationName($event)" class="editFocus" ng-model="annotateName" readonly>
                            <button class="btn" ng-click="removeAnnotation(annotateStart, annotateEnd)">Remove Annotation</button>
                            <button class="btn" ng-click="removeAnnotation(annotateStart, annotateEnd);deleteAnnotation(annotateStart, annotateEnd); orfsFunc();">Delete Sequence</button>
                        </div>



                        <!-- BLAST VIEWER -->
                        <div ng-show="selected=='viewer'" ng-include="'template/blastViewer.html'"></div>

                            <!-- editor template -->
                        <div ng-include="'template/editor.html'"></div>

                   <!--      <button ng-show="(start!=end)&&selected=='viewer'" id="annotateButton" ng-click="annotate(start, end);">Annotate</button> -->

                        <button ng-show="selectedStart" ng-click="annotate(selectedStart, selectedEnd);">Annotate</button>
                    </div>

                    <!-- blast viewer -->
                    <!-- <div ng-include="'template/blast.html'"></div> -->
                    <div ng-show="selected=='blast'">

                        <div id="blastWrapper">
                            <!-- <div contentEditable=true data-text="Enter query here" id="blastSubmit"></div> -->
                            <div class="blastStyle" ng-show="loading">Loading...</div>
                            <div id="hspList">

                                <div ng-show="!rid" class="blastCenter">
                                    
                                    <textarea id="blastSubmit" ng-keydown="disable($event)" ng-model="blastQuery" placeholder="Enter nucelotide query here"></textarea>
                                    <button ng-click="blastSequence()">Blast</button>

                                </div>


                                </div>
                                <div ng-show="rid" >
                                    <div class="blastStyle">
                                        RID:{{rid}} <br> 
                                        Blast Link: https://blast.ncbi.nlm.nih.gov/blast/BlastAlign.cgi?CMD=GET&RID={{rid}}
                                    </div>
                                    <button ng-click="clearBlast();">Clear</button>
                                    
                                </div>
                                <!-- wrapper -->
                                <div ng-repeat="x in hspList track by $index" class="blastHSP" ng-click="setBlast(x); activateHsp($index)" id="hsp{{$index}}">
                                    <!-- header -->
                                    <div>
                                        <strong>Range {{x.num}}: {{x.hfrom}} to {{x.hto}}</strong>
                                        <br>
                                        Score = {{x["bitscore"]}} bits ({{x.score}}), Expect={{x.expect}}<br>
                                        Identities={{x.identities}}/{{x.align}} ({{((x.identities/x.align)*100).toFixed(0)}}%), Gaps = {{x.gaps}}/{{x.align}} ({{((x.gaps/x.align)*100).toFixed(0)}}%)
                                    </div>
                                   
                                    <div class="blastStyle" ng-show="testToggle==$index">
                                        <div class="blastIndex">
                                             <!-- left indice -->
                                            <div ng-repeat="indice in x.leftIndices">
                                                Query {{indice[0]}} <br><br>
                                                Sbjct {{indice[1]}} <br><br>
                                            </div>
                                        </div>

                                        <!-- info -->
                                        <div>
                                            <div ng-repeat="i in x.seqs">
                                                    <div>{{i[0]}}</div>
                                                    <div>{{i[1]}}</div>
                                                    <div>{{i[2]}}</div>
                                                <br>
                                            </div>
                                        </div>

                                        <!-- right indice -->
                                        <div class="blastIndex">
                                            <div ng-repeat="rightIndex in x.rightIndices">
                                                {{rightIndex[0]}} <br><br>
                                                {{rightIndex[1]}} <br><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Options tab -->
                        <div id="optionWrapper" ng-show="selected=='option'">
                            <!-- search bar -->
                            <div>
                                <input type="text" placeholder="Search.." id="searchDNA" ng-keydown="disable($event)" ng-keyup="searchDNA();" ng-model="search">
                                <button  id="clearButton" ng-click="clearSearch();">Clear</button>
                                <button ng-show="searchResults.length>0" id="annotateButton" ng-click="annotateSearchResults()">Annotate</button>
                            </div>

                            <!-- Annotations List -->
                        
                            <div>
                                <p class="blastStyle">Annotations List</p>
                                <div class="annotationWrapper silverOutline" ng-repeat="(gene, name) in annotationData" ng-click="highlightAllAnnotations(gene, name)" ng-dblclick="deHighlightAllAnnotations()" id="{{name}}">
                                        <div>{{name}} 
                                            <i ng-click="removeAllAnnotations(gene)" class="fas fa-times deleteAnn"></i>
                                            <!-- <i class="fas fa-chevron-down expandAnn"></i> -->

                                        </div>
                                        <div>{{gene}}</div>
                                       
                                </div>
                            </div>

                            <!-- matched enzymes -->
                            <br>

                            <p class="blastStyle">Matched Enzymes</p>
                            <button id="showEnz" ng-click="selectAllEnz()">Select All Enzymes</button>
                            <button id="hideEnz" ng-click="deselectAllEnz()">Deselect All Enzymes</button>

                            <label class="container">Alphabetical
                            <input type="radio" checked="checked"  name="enz" ng-click="sortMatchedEnz('alphabetical')">
                            </label>
                            <label class="container">Index
                              <input type="radio" name="enz" ng-click="sortMatchedEnz('index')">
                            </label>
                            <button ng-click="generateEnzymes()">Generate Enzymes</button>
                            <input type="text" placeholder="Filter Enzymes" id="searchEnz" ng-keyup="" ng-model="searchEnz">
                            <div ng-show="awaitingMatch">Generating Enzymes...</div>
                            
                            <div ng-show="awaitingMatch==false"  ng-repeat="enz in matchedEnzymes track by $index">
                                <div class="annotationWrapper silverOutline"  
                                ng-class="{'selectedOutline': enz.show==true, 'silverOutline':!(enz.show)}" 
                                ng-show="enz.name.toUpperCase().indexOf(searchEnz.toUpperCase())>=0||enz.sequence.toUpperCase().indexOf(searchEnz.toUpperCase())>=0"
                                ng-mouseover="peekEnzyme($index)" 
                                ng-mouseleave="unpeekEnzyme($index, enz.show)"
                                ng-click="toggleEnzyme($index)">
                                    {{enz.name}}  {{enz.sequence}} {{enz.index}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>    

    </body>
</html>

