<!DOCTYPE html>
<html>
    <head>
        <script src='angularplasmid.complete.min.js'></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <link rel="stylesheet" href="pstyle.css">

    </head>
    <body>

        <plasmid id='p1' sequencelength='100'>
            <plasmidtrack radius="100"  id='t1' transform="translate(100,100)">
            </plasmidtrack>

        </plasmid> 

    </body>
</html>

<!-- 
d3.select("#").append("plasmidtrack").attr("radius", "40");

t1.append("trackmarker").attr("start", "10").attr("end", "30").attr("arrowendlength", "5").attr("arrowendwidth", "3");

-->