<div id="editorModule" ng-controller="myEditor" ng-show="textbuffer.length>0">
    <div>   
            <label class="container">Double
              <input type="radio" checked="checked" name="editor" ng-click="switchDisplay('default')">
            </label>
            <label class="container">Single
              <input type="radio" name="editor" ng-click="switchDisplay('single')">
            </label>

            <span ng-show="display=='default'">
                Line Number:
                <label class="container">On
                  <input type="radio" checked="checked" name="linenumber" ng-click="switchLine('on')">
                </label>
                <label class="container">Off
                  <input type="radio" name="linenumber" ng-click="switchLine('off')">
                </label>

            </span>

            <button id="saveButton" class="savedButton" ng-click="saveProgress()"><i class="far fa-save"></i></button>
            <button id="copyButton" ng-click="copyDNA()"> <i class="fas fa-copy"></i></button>

        {{offsetStart}} - {{offsetEnd}}
    </div>
            <div  ng-show="display=='default'">
                <div id="dnaWrapper" class="saved">
                    <div ng-repeat="row in sections  track by $index"  id="rowWrapper{{$index}}"  ng-init="$last && finished()">
                        <p>
                            <div class="rowwrapper">
                                <div class="indiceWrapper" ng-show="lineDisplay">   
                                    <div  ng-repeat="indice in rowIndices">
                                       <div class="indiceItem">{{$parent.$index*buffer+indice+offsetStart}}</div>
                                    </div>
                                </div>

                                <!-- positive strand blast match -->
                                <div class="blastCompare" ng-show="blastSections.length!=0&& blastSections[$index].length!=0&&editorBlastMatch.minus==false">
                                    <input id="{{$index}}blast" spellcheck="false" class="blastMatch" ng-model="blastSections[$index]" readonly>

                                </div>
                                <!-- <div id="{{$index}}blast" class="blastMatch"></div> -->
                                <!-- positive strand -->
                                <input id="{{$index}}" spellcheck="false" ng-click="startEditing($event)" ng-blur="saveToBuffer($index, row1)" ng-keydown="disable($event)" class="input" ng-model="row[0]" contenteditable ng-keyup="editRow($index, $event)">

                                <!-- negative strand -->
                                <input id="{{$index}}row2" spellcheck="false" ng-click="startEditing($event)" ng-blur="saveToBuffer($index, row2)" ng-model="row[1]" ng-keydown="disable($event)" class="input" contenteditable ng-keyup="editSecondRow($index, $event)">
                                
                                <!-- negative strand blast match -->
                                <div class="blastCompare" ng-show="blastSections.length!=0&& blastSections[$index].length!=0&&editorBlastMatch.minus==true">

                                    <input id="{{$index}}blast" spellcheck="false" class="blastMatch" ng-model="blastSections[$index]" readonly>
                                    
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div ng-show="display=='single'">
                <textarea id="singleEditor" ng-model="textbuffer" ng-click="startEditingSingle($event)"   spellcheck="false" ng-keydown="disable($event)" ng-keyup="editSingleRow($event)" ng-blur="stopEditingSingle($event)" class="single saved">

                </textarea>
            </div>
        </div>